Load Data source

https://techassessment.blob.core.windows.net/aiap-pys-2/noshow.db

In [337]:
# download ad import the data
import requests

url = "https://techassessment.blob.core.windows.net/aiap-pys-2/noshow.db"
file_path = "data/noshow.db"

# Download the database
response = requests.get(url)
with open(file_path, "wb") as file:
    file.write(response.content)
	
print(f"Database downloaded to {file_path}")

Database downloaded to data/noshow.db

In [338]:

import sqlite3
import pandas as pd

# Connect to the database
db_path = 'data/noshow.db'  # Ensure the file path is correct
conn = sqlite3.connect(db_path)

try:
    # List all tables in the database
    tables = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table';", conn)
    print("Tables in the database:", tables)

    # Load the `noshow` table into a DataFrame
    query = "SELECT * FROM noshow"
    data = pd.read_sql_query(query, conn)

    # Display the first few rows of the table
    print(data.head())

except Exception as e:
    print(f"An error occurred: {e}")

finally:
    # Close the connection
    conn.close()

Tables in the database:      name
0  noshow
   booking_id  no_show   branch booking_month arrival_month  arrival_day  \
0       94113      0.0   Changi      November          June         25.0
1       86543      0.0  Orchard        August      November         28.0
2       75928      0.0   Changi         March      February          7.0
3       66947      1.0  Orchard     September       October          1.0
4      106390      0.0  Orchard         March          June         20.0

  checkout_month  checkout_day    country first_time    room         price  \
0           June          27.0  Singapore        Yes  Single   SGD$ 492.98
1       November          29.0  Indonesia        Yes    King  SGD$ 1351.22
2       February          11.0      India        Yes  Single          None
3        October           3.0      China        Yes  Single   SGD$ 666.04
4           June          24.0  Australia        Yes   Queen   USD$ 665.37

  platform num_adults  num_children
0  Website          1           0.0
1  Website          2           0.0
2    Agent          1           0.0
3  Website          1           0.0
4  Website          1           0.0

In [339]:
# EDA
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119391 entries, 0 to 119390
Data columns (total 15 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   booking_id      119391 non-null  int64
 1   no_show         119390 non-null  float64
 2   branch          119390 non-null  object
 3   booking_month   119390 non-null  object
 4   arrival_month   119390 non-null  object
 5   arrival_day     119390 non-null  float64
 6   checkout_month  119390 non-null  object
 7   checkout_day    119390 non-null  float64
 8   country         119390 non-null  object
 9   first_time      119390 non-null  object
 10  room            97778 non-null   object
 11  price           94509 non-null   object
 12  platform        119390 non-null  object
 13  num_adults      119390 non-null  object
 14  num_children    119390 non-null  float64
dtypes: float64(4), int64(1), object(10)
memory usage: 13.7+ MB
None

In [340]:
print(data.describe())

          booking_id        no_show    arrival_day   checkout_day  \
count  119391.000000  119390.000000  119390.000000  119390.000000
mean    59695.000000       0.370416      15.798241      14.250507
std     34465.357332       0.482918       8.780829      11.063697
min         0.000000       0.000000       1.000000     -31.000000
25%     29847.500000       0.000000       8.000000       7.000000
50%     59695.000000       0.000000      16.000000      15.000000
75%     89542.500000       1.000000      23.000000      23.000000
max    119390.000000       1.000000      31.000000      31.000000

        num_children
count  119390.000000
mean        0.871229
std         0.779796
min         0.000000
25%         0.000000
50%         1.000000
75%         1.000000
max         3.000000

In [341]:
print(data.isnull().sum())

booking_id            0
no_show               1
branch                1
booking_month         1
arrival_month         1
arrival_day           1
checkout_month        1
checkout_day          1
country               1
first_time            1
room              21613
price             24882
platform              1
num_adults            1
num_children          1
dtype: int64

In [342]:
# Check the No show column
# Check unique values in the 'no_show' column
unique_values = data['no_show'].unique()
print("Unique values in 'no_show':", unique_values)

# Verify if all values are 0.0 or 1.0
valid_values = {0.0, 1.0}
if set(unique_values).issubset(valid_values):
    print("All values in 'no_show' are either 0.0 or 1.0.")
else:
    print("There are other values in 'no_show':", set(unique_values) - valid_values)

Unique values in 'no_show': [ 0.  1. nan]
There are other values in 'no_show': {nan}

In [343]:
print(data)

        booking_id  no_show   branch booking_month arrival_month  arrival_day  \
0            94113      0.0   Changi      November          June         25.0
1            86543      0.0  Orchard        August      November         28.0
2            75928      0.0   Changi         March      February          7.0
3            66947      1.0  Orchard     September       October          1.0
4           106390      0.0  Orchard         March          June         20.0
...            ...      ...      ...           ...           ...          ...
119386        4823      0.0   Changi     September         April          3.0
119387       25062      0.0  Orchard         March      December         30.0
119388       81936      1.0   Changi     September         March         31.0
119389        6738      0.0   Changi      February      February         25.0
119390       99643      0.0   Changi         March          July         18.0

       checkout_month  checkout_day    country first_time    room  \
0                June          27.0  Singapore        Yes  Single
1            November          29.0  Indonesia        Yes    King
2            February          11.0      India        Yes  Single
3             October           3.0      China        Yes  Single
4                June          24.0  Australia        Yes   Queen
...               ...           ...        ...        ...     ...
119386          April           5.0      China        Yes    King
119387        January           3.0      China        Yes    King
119388          April           1.0  Indonesia        Yes    King
119389       February          27.0      China        Yes    None
119390           July          26.0      India        Yes    King

               price platform num_adults  num_children
0        SGD$ 492.98  Website          1           0.0
1       SGD$ 1351.22  Website          2           0.0
2               None    Agent          1           0.0
3        SGD$ 666.04  Website          1           0.0
4        USD$ 665.37  Website          1           0.0
...              ...      ...        ...           ...
119386   USD$ 612.18  Website          1           1.0
119387  USD$ 1041.29    Email          2           0.0
119388   USD$ 641.47    Email          1           2.0
119389   SGD$ 886.35  Website          2           0.0
119390   SGD$ 901.95  Website          1           2.0

[119391 rows x 15 columns]

In [344]:
# branch              
# booking_month         1
# arrival_month         1
# arrival_day           1
# checkout_month        1
# checkout_day          1
# country               1
# first_time            1
# room              21613
# price             24882
# platform              1
# num_adults            1
# num_children          1

# Loop through each column and print unique values
columns_to_check = [
    'branch', 'booking_month', 'arrival_month', 'arrival_day', 'checkout_month', 'checkout_day',
    'country', 'first_time', 'room', 'price', 'platform', 'num_adults', 'num_children'
]


for col in columns_to_check:
    unique_values = data[col].unique()
    print(f"Unique values in '{col}':", unique_values)
    print(f"Number of unique values in '{col}':", len(unique_values))
    print()
    print("-" * 50)

Unique values in 'branch': ['Changi' 'Orchard' None]
Number of unique values in 'branch': 3

--------------------------------------------------
Unique values in 'booking_month': ['November' 'August' 'March' 'September' 'July' 'January' 'October' 'June'
 'December' 'April' 'May' 'February' None]
Number of unique values in 'booking_month': 13

--------------------------------------------------
Unique values in 'arrival_month': ['June' 'November' 'February' 'October' 'September' 'March' 'May' 'August'
 'July' 'January' 'April' 'December' 'ApRiL' 'OcTobeR' 'JuNe' 'JulY'
 'ApriL' 'OctOber' 'DecembEr' 'SeptEmber' 'JanUary' 'JUne' 'FeBruary'
 'JanuarY' 'DEcember' 'SePtember' 'DecembeR' 'MaY' 'NoVember' 'JUly'
 'JunE' 'JuLy' 'FebrUary' 'NOvember' 'SeptemBer' 'OctobeR' 'DecemBer'
 'MarCh' 'AuguSt' 'AugusT' 'APril' 'SepTember' 'NovembEr' 'FEbruary'
 'DeceMber' 'AuGust' 'SepteMber' 'FebruaRy' 'OctoBer' 'JanuaRy' 'MarcH'
 'ApRil' 'AUgust' 'JanuAry' 'NOveMber' 'MaRch' 'AprIl' 'MAy' 'NovemBer'
 'DecEmber' 'MArch' 'JaNuary' 'NovembeR' 'SeptembEr' 'FebruarY'
 'SeptembeR' 'OcTober' 'DeCember' 'FebruAry' 'AugUst' 'NovEmber'
 'NoveMber' 'OctobEr' 'OCtober' 'SEptember' 'JAnuary' 'SeptEMber' 'MAY'
 'FebRuary' 'FeBruarY' 'OCTober' 'JUnE' 'DecEMber' 'FebruaRY' 'NovemBeR'
 'NOvEmber' 'FEbruarY' None 'FeBruaRy']
Number of unique values in 'arrival_month': 89

--------------------------------------------------
Unique values in 'arrival_day': [25. 28.  7.  1. 20. 12. 15. 18. 27. 22.  9. 11. 10. 13. 30. 21.  5.  6.
  2. 31. 19.  4.  3. 23. 17.  8. 26. 14. 24. 29. 16. nan]
Number of unique values in 'arrival_day': 32

--------------------------------------------------
Unique values in 'checkout_month': ['June' 'November' 'February' 'October' 'September' 'March' 'May' 'August'
 'July' 'January' 'April' 'December' None]
Number of unique values in 'checkout_month': 13

--------------------------------------------------
Unique values in 'checkout_day': [ 27.  29.  11.   3.  24.  13.  16.  19.  28.  10.  12.  15.  23.  31.
  25.  17.   8.   2.   9.   7.   1.  20.  14.  -4.   4.   6.  21.   5.
  18.  22. -10.  -3.  30.  26.  -6.  -5. -28. -20. -16. -19. -17. -12.
 -30. -26.  -8. -24. -15. -21.  -1.  -7. -27. -11. -18. -22. -13. -14.
 -29. -23.  -9.  -2. -31. -25.  nan]
Number of unique values in 'checkout_day': 63

--------------------------------------------------
Unique values in 'country': ['Singapore' 'Indonesia' 'India' 'China' 'Australia' 'Japan' 'Malaysia'
 None]
Number of unique values in 'country': 8

--------------------------------------------------
Unique values in 'first_time': ['Yes' 'No' None]
Number of unique values in 'first_time': 3

--------------------------------------------------
Unique values in 'room': ['Single' 'King' 'Queen' None 'President Suite']
Number of unique values in 'room': 5

--------------------------------------------------
Unique values in 'price': ['SGD$ 492.98' 'SGD$ 1351.22' None ... 'USD$ 612.18' 'USD$ 1041.29'
 'SGD$ 886.35']
Number of unique values in 'price': 61868

--------------------------------------------------
Unique values in 'platform': ['Website' 'Agent' 'Email' 'Phone' None]
Number of unique values in 'platform': 5

--------------------------------------------------
Unique values in 'num_adults': ['1' '2' 'one' 'two' None]
Number of unique values in 'num_adults': 5

--------------------------------------------------
Unique values in 'num_children': [ 0.  2.  1.  3. nan]
Number of unique values in 'num_children': 5

--------------------------------------------------

In [345]:
month_mapping = {
    'January': 'January', 'JanUary': 'January', 'JAnuary': 'January', 'JanuAry': 'January', 'JaNuary': 'January',
    'FEBRUARY': 'February', 'February': 'February', 'FeBruary': 'February', 'FebRuary': 'February', 'FebruAry': 'February',
    'March': 'March', 'MarCh': 'March', 'MArch': 'March', 'MaRch': 'March',
    'April': 'April', 'ApRiL': 'April', 'APril': 'April', 'ApRil': 'April', 'AprIl': 'April',
    'May': 'May', 'MaY': 'May',
    'June': 'June', 'JuNe': 'June', 'JUne': 'June', 'JUnE': 'June',
    'July': 'July', 'JulY': 'July', 'JUly': 'July', 'JuLy': 'July',
    'August': 'August', 'AuguSt': 'August', 'AugusT': 'August', 'AUgust': 'August', 'AuGust': 'August',
    'September': 'September', 'SeptEmber': 'September', 'SePtember': 'September', 'SeptemBer': 'September', 'SEptember': 'September',
    'October': 'October', 'OcTobeR': 'October', 'OcTober': 'October', 'OctOber': 'October', 'OctobeR': 'October',
    'November': 'November', 'NoVember': 'November', 'NovembeR': 'November', 'NoveMber': 'November', 'NOveMber': 'November',
    'December': 'December', 'DecembeR': 'December', 'DEcember': 'December', 'DecEMber': 'December', 'DeceMber': 'December'
}


# Standardize the arrival_month column
data['arrival_month'] = data['arrival_month'].map(month_mapping)

# Handle missing values by filling with the mode (most frequent month)
most_frequent_month = data['booking_month'].mode()[0]
data['arrival_month'] = data['arrival_month'].fillna(most_frequent_month)

# Verify the cleaned column
print("Unique values in 'arrival_month':", data['arrival_month'].unique())
print("Number of unique values in 'arrival_month':", data['arrival_month'].nunique())

Unique values in 'arrival_month': ['June' 'November' 'February' 'October' 'September' 'March' 'May' 'August'
 'July' 'January' 'April' 'December']
Number of unique values in 'arrival_month': 12

In [346]:
# Fix negative value in checkout_day

# Assume that the negative sign is added incorrectly. 
# Convert negative values to positive
data['checkout_day'] = data['checkout_day'].apply(lambda x: abs(x) if x < 0 else x)

# Verify the updated column
print("Unique values in 'checkout_day':", data['checkout_day'].unique())

Unique values in 'checkout_day': [27. 29. 11.  3. 24. 13. 16. 19. 28. 10. 12. 15. 23. 31. 25. 17.  8.  2.
  9.  7.  1. 20. 14.  4.  6. 21.  5. 18. 22. 30. 26. nan]

In [347]:
# Fix inconsistent in the number of adult
# one and 1. Change to 1 as the next column uses numerical instead of alphabets

# Define a mapping for textual to numeric conversion
adult_mapping = {'1': 1, '2': 2, 'one': 1, 'two': 2}

# Apply the mapping to the num_adults column
data['num_adults'] = data['num_adults'].map(adult_mapping)

# Fill missing values (e.g., with the mode or a default value)
most_frequent_adults = data['num_adults'].mode()[0]
data['num_adults'] = data['num_adults'].fillna(most_frequent_adults)

# Verify the cleaned column
print("Unique values in 'num_adults':", data['num_adults'].unique())

Unique values in 'num_adults': [1. 2.]

In [348]:
print(data)

        booking_id  no_show   branch booking_month arrival_month  arrival_day  \
0            94113      0.0   Changi      November          June         25.0
1            86543      0.0  Orchard        August      November         28.0
2            75928      0.0   Changi         March      February          7.0
3            66947      1.0  Orchard     September       October          1.0
4           106390      0.0  Orchard         March          June         20.0
...            ...      ...      ...           ...           ...          ...
119386        4823      0.0   Changi     September         April          3.0
119387       25062      0.0  Orchard         March      December         30.0
119388       81936      1.0   Changi     September         March         31.0
119389        6738      0.0   Changi      February      February         25.0
119390       99643      0.0   Changi         March          July         18.0

       checkout_month  checkout_day    country first_time    room  \
0                June          27.0  Singapore        Yes  Single
1            November          29.0  Indonesia        Yes    King
2            February          11.0      India        Yes  Single
3             October           3.0      China        Yes  Single
4                June          24.0  Australia        Yes   Queen
...               ...           ...        ...        ...     ...
119386          April           5.0      China        Yes    King
119387        January           3.0      China        Yes    King
119388          April           1.0  Indonesia        Yes    King
119389       February          27.0      China        Yes    None
119390           July          26.0      India        Yes    King

               price platform  num_adults  num_children
0        SGD$ 492.98  Website         1.0           0.0
1       SGD$ 1351.22  Website         2.0           0.0
2               None    Agent         1.0           0.0
3        SGD$ 666.04  Website         1.0           0.0
4        USD$ 665.37  Website         1.0           0.0
...              ...      ...         ...           ...
119386   USD$ 612.18  Website         1.0           1.0
119387  USD$ 1041.29    Email         2.0           0.0
119388   USD$ 641.47    Email         1.0           2.0
119389   SGD$ 886.35  Website         2.0           0.0
119390   SGD$ 901.95  Website         1.0           2.0

[119391 rows x 15 columns]

Clean the data for price

In [349]:
print(data['price'].head())

0     SGD$ 492.98
1    SGD$ 1351.22
2            None
3     SGD$ 666.04
4     USD$ 665.37
Name: price, dtype: object

In [350]:
# Fill missing numeric values with the median
# data['price'] = data['price'].fillna(data['price'].median())

# Define a function to process the price column
def clean_price(price):
    if pd.isna(price):  # Handle missing values
        return None
    if 'USD$' in price:  # If price is in USD
        numeric_value = float(price.replace('USD$', '').strip())
        return numeric_value * 1.3  # Convert to SGD
    elif 'SGD$' in price:  # If price is in SGD
        return float(price.replace('SGD$', '').strip())
    else:
        return None  # Handle unexpected formats

# Apply the function to the 'price' column
# this causes error
data['price'] = data['price'].apply(clean_price)

# Fill missing values with the median
# data['price'] = data['price'].fillna(data['price'].median())

# Display the cleaned price column
print(data['price'].head())

0     492.980
1    1351.220
2         NaN
3     666.040
4     864.981
Name: price, dtype: float64

In [351]:
print(data)

        booking_id  no_show   branch booking_month arrival_month  arrival_day  \
0            94113      0.0   Changi      November          June         25.0
1            86543      0.0  Orchard        August      November         28.0
2            75928      0.0   Changi         March      February          7.0
3            66947      1.0  Orchard     September       October          1.0
4           106390      0.0  Orchard         March          June         20.0
...            ...      ...      ...           ...           ...          ...
119386        4823      0.0   Changi     September         April          3.0
119387       25062      0.0  Orchard         March      December         30.0
119388       81936      1.0   Changi     September         March         31.0
119389        6738      0.0   Changi      February      February         25.0
119390       99643      0.0   Changi         March          July         18.0

       checkout_month  checkout_day    country first_time    room     price  \
0                June          27.0  Singapore        Yes  Single   492.980
1            November          29.0  Indonesia        Yes    King  1351.220
2            February          11.0      India        Yes  Single       NaN
3             October           3.0      China        Yes  Single   666.040
4                June          24.0  Australia        Yes   Queen   864.981
...               ...           ...        ...        ...     ...       ...
119386          April           5.0      China        Yes    King   795.834
119387        January           3.0      China        Yes    King  1353.677
119388          April           1.0  Indonesia        Yes    King   833.911
119389       February          27.0      China        Yes    None   886.350
119390           July          26.0      India        Yes    King   901.950

       platform  num_adults  num_children
0       Website         1.0           0.0
1       Website         2.0           0.0
2         Agent         1.0           0.0
3       Website         1.0           0.0
4       Website         1.0           0.0
...         ...         ...           ...
119386  Website         1.0           1.0
119387    Email         2.0           0.0
119388    Email         1.0           2.0
119389  Website         2.0           0.0
119390  Website         1.0           2.0

[119391 rows x 15 columns]

In [352]:
print(data['no_show'].value_counts(normalize=True))

0.0    0.629584
1.0    0.370416
Name: no_show, dtype: float64

In [353]:
# Handle Missing ValueError
print(data.isnull().sum())

# check number of rows
row_count = len(data)
print(f"\nNumber of rows for DF: {row_count}")

booking_id            0
no_show               1
branch                1
booking_month         1
arrival_month         0
arrival_day           1
checkout_month        1
checkout_day          1
country               1
first_time            1
room              21613
price             24882
platform              1
num_adults            0
num_children          1
dtype: int64

Number of rows for DF: 119391

In [361]:
# Temp fill in
# Example: Fill missing categorical values with 'NA'
data['room'] = data['room'].fillna('NA')
data['price'] = data['price'].fillna('NA')

In [362]:
# Check and Remove duplicate

duplicates = data.duplicated()

# Count the number of duplicate rows
duplicate_count = duplicates.sum()
print(f"Number of duplicate rows: {duplicate_count}")

Number of duplicate rows: 0

In [ ]:
print(data.isnull().sum())

# either we drop or fill

#  fill na
data['no_show'] = data['no_show'].fillna('NA')
data['branch'] = data['branch'].fillna('NA')
data['booking_month'] = data['booking_month'].fillna('NA')
data['arrival_day'] = data['arrival_day'].fillna('NA')
data['checkout_month'] = data['checkout_month'].fillna('NA')
data['checkout_day'] =data['checkout_day'].fillna('NA')
data['country'] = data['country'].fillna('NA')
data['first_time']= data['first_time'].fillna('NA')
data['platform'] = data['platform'].fillna('NA')
data['num_children'] = data['num_children'].fillna('NA')

# Drop NA
# List of columns to check for NaN
columns_to_check = [
    'no_show', 'branch', 'booking_month', 'arrival_day', 'checkout_month',
    'checkout_day', 'country', 'first_time', 'platform', 'num_children'
]
# Drop rows where any of these columns have NaN
data = data.dropna(subset=columns_to_check)
# Verify the number of rows remaining
print(f"Number of rows after dropping rows with NaN: {len(data)}")

booking_id        0
no_show           1
branch            1
booking_month     1
arrival_month     0
arrival_day       1
checkout_month    1
checkout_day      1
country           1
first_time        1
room              0
price             0
platform          1
num_adults        0
num_children      1
dtype: int64

In [364]:
#visualization

In [365]:
# # Outlier Detection:

# from scipy.stats import zscore
# data['z_score'] = zscore(data['numeric_column'])
# data = data[data['z_score'].abs() < 3]  # Keep data within 3 standard deviations

Feature engineering

In [366]:
# Encode Categorical Features:
# Split Data
# Normalize/Scale Data